<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>iQuiz.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>691493881CDAC48700D4CD0E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6914939C1CDAC48800D4CD0E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>691493A71CDAC48800D4CD0E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
